<!DOCTYPE html>
<html lang="en">
<base href="/">

<head>
	<base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, pixel  design, pixel  dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Pixel Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Profile</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/pixel-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/pixel-favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="public_user_homepage/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="public_user_homepage/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="public_user_homepage/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="public_user_homepage/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="public_user_homepage/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
		<%- include('../public/partials/user_nav', {name :`${user_first_name}`}); %>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="user_homepage" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="profile" class="waves-effect"><i class="fa fa-user fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
                    </li>
                    <li>
                        <a href="my_dogs" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">My Dogs</span></a>
                    </li>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile page</h4>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
				<div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" action="/update_dog_info" method="POST">
								<div class="form-group">
                                    <div class="col-md-12">
										<% if(details!=null) { %>
											<input type="hidden" name='dog_id' value= <%= details._id %>
                                            class="form-control form-control-line">
										<% } %>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label class="col-md-12">Name</label>
                                    <div class="col-md-12">
										<% if(details!=null) { %>
											<input type="text" name='name' placeholder= <%= details.dog_name %>
                                            class="form-control form-control-line">
										<% } %>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label class="col-md-12">Breed</label>
                                    <div class="col-md-12">
										<% if(details!=null) { %>
											<input type="text" name='breed' placeholder= <%= details.dog_breed %>
                                            class="form-control form-control-line">
										<% } %>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label class="col-md-12">Color</label>
                                    <div class="col-md-12">
										<% if(details!=null) { %>
											<input type="text" name='color' placeholder= <%= details.dog_color %>
                                            class="form-control form-control-line">
										<% } %>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label class="col-md-12">Size</label>
                                    <div class="col-md-12">
										<!-- AUTO COMPLETE DROPDOWN -->
										<% if(details!=null) { %>
											<select class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded shadow" name="selected_size">
												<option value=<%= details.dog_size %>><%= details.dog_size %></option>
												<option value='big'>big</option>
												<option value='medium'>medium</option>
												<option value='small'>small</option>
											</select>
										<% } %>										
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Gender</label>
									<% if(details!=null) { %>
										<% if(details.dog_gender == "Male") { %>
                                    		<div class="col-md-12">
                                        		<div class="input-group">
													<label class="label">Gender</label>
													<div class="p-t-10">
														<label class="radio-container m-r-45">Male
															<input type="radio" checked="checked" name="radio" value="Male">
															<span class="checkmark"></span>
														</label>
														<label class="radio-container">Female
															<input type="radio" name="radio" value="Female">
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
											</div>
										<% } %>
										<% if(details.dog_gender == "Female") { %>
                                    		<div class="col-md-12">
                                        		<div class="input-group">
													<label class="label">Gender</label>
													<div class="p-t-10">
														<label class="radio-container m-r-45">Male
															<input type="radio" name="radio" value="Male">
															<span class="checkmark"></span>
														</label>
														<label class="radio-container">Female
															<input type="radio" checked="checked" name="radio" value="Female">
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
											</div>
										<% } %>
									<% } %>
                                

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="public_user_homepage/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="public_user_homepage/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="public_user_homepage/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="public_user_homepage/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="public_user_homepage/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="public_user_homepage/js/custom.min.js"></script>
</body>

</html>